<div class="d-flex justify-content-center footer align-items-center">
  <div class="container  ">
    <div class="row ">
      <div class="col-lg-6 col-md-4 text-center text-lg-start text-md-start">
        <h3 class="text-white mb-0 lh-1">E-comm</h3>
      </div>
      <div class="col-lg-6 col-md-8 text-center text-lg-end text-md-end">
        <p class="text-white font-12 mb-0"><i class="fa-regular fa-copyright"></i>Copyright E-comm. All Rights Reserved | Design by Tushil</p>
      </div>
    </div>
  </div>
</div>