<div class="add-product">
  <h1>Add New Product</h1>
  <p class="message-p">{{ addProductMessage }}</p>
  <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
    <label for="">Product Name:</label>
    <input type="text" class="form-input" placeholder="Enter Product Name" name="name" ngModel />
    <label for="">Product Price:</label>
    <input type="text" class="form-input" placeholder="Enter Product Price" name="price" ngModel />
    <label for="">Product Category:</label>
    <input type="text" class="form-input" placeholder="Enter Product Category" name="category" ngModel />
    <label for="">Product Color:</label>
    <input type="text" class="form-input" placeholder="Enter Product Color" name="color" ngModel />
    <label for="">Description:</label>
    <textarea type="text" class="form-input" placeholder="Enter Product Description" name="description"
      ngModel></textarea>
    <label for="">Image URL:</label>
    <input type="text" class="form-input" placeholder="Enter Product Image URL" name="image" ngModel />
    
    <button class=" btn form-button">Add Product</button>
  </form>
</div>