<div class="d-flex justify-content-center mb-3 mt-3">
  <h1>Product List</h1>
</div>
<div class="d-flex justify-content-center">
  <p class="message-p">{{ productMessage }}</p>
</div>
<div class="product-list mb-3 mt-3 d-flex justify-content-center align-items-center w-100">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Description</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{ item.image }}" class="img-fluid" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td class="text-center">
          <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
          <a class="adjust-update-link" routerLink="/seller-update-product/{{ item.id }}">
            <fa-icon [icon]="iconEdit"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>