<div class="d-flex justify-content-center">
    <div class="container">
        <div class="my-orders">
            <h1 class="text-center text-md-left">My Orders</h1>
            <div class="row font-weight-bold d-none d-md-flex">
                <div class="col-sm-2">
                    <span>Orders</span>
                </div>
                <div class="col-sm-2">
                    <span>Order Id</span>
                </div>
                <div class="col-sm-2">
                    <span>Price</span>
                </div>
                <div class="col-sm-2">
                    <span>Status</span>
                </div>
                <div class="col-sm-2">
                    <span>Cancel Order</span>
                </div>
            </div>
            <div class="row" *ngFor="let order of orderData">
                <div class="col-6 col-md-2 text-center my-2 my-md-0">
                    <img class="order-img img-fluid"
                        src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png" alt="">
                </div>
                <div class="col-6 col-md-2 text-center my-2 my-md-0">
                    <span class="d-md-none">Order Id: </span><span>#{{order.id}}</span>
                </div>
                <div class="col-6 col-md-2 text-center my-2 my-md-0">
                    <span class="d-md-none">Price: </span><span>{{order.totalPrice}}</span>
                </div>
                <div class="col-6 col-md-2 text-center my-2 my-md-0">
                    <span class="d-md-none">Status: </span><span>In Progress</span>
                </div>
                <div class="col-12 col-md-2 text-center my-2 my-md-0">
                    <button class="form-button btn btn-danger" (click)="cancelOrder(order.id)">Cancel Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
