<div class="user-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>User Signup</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
      <input type="text" class="form-input" name="name" placeholder="Enter User Name" ngModel required/>
      <input type="email" class="form-input" name="email" placeholder="Enter User Email" ngModel required/><input type="password"
        class="form-input" name="password" placeholder="Enter User Password" ngModel required/>
      <button class="form-button" [disabled]="userSignUp.invalid">Sign Up</button>
      <h6>Already Have Account ? <a (click)="openLogin()">Click Here</a></h6>
    </form>
  </div>
  <div *ngIf="showLogin" class="login">
    <h1>User Login</h1>
    <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
      <p class="error-p">{{authError}}</p>
      <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel email #email="ngModel"
         />
      <p class="invalid-input"><span *ngIf="email.invalid && email.touched ">Please enter valid input</span></p>
      <input type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel minlength="2"
        maxlength="20" #password="ngModel" />
      <p class="invalid-input"><span *ngIf="password.invalid && password.touched ">Please enter valid input</span></p>
      <button [disabled]="userLogin.invalid" class="form-button">Login</button>
      <h6>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></h6>
    </form>
  </div>
</div>