<div class="d-flex justify-content-center">
  <div class="container">
    <ngb-carousel *ngIf="popularProducts" class="mt-5 x">
      <ng-template *ngFor="let item of popularProducts" ngbSlide>
        <div class="picsum-img-wrapper">
          <a routerLink="/details/{{item.id}}"> <img class="product-header-image" src="{{item.image}}"
              alt="Random first slide"></a>
        </div>
        <div class="carousel-caption">
          <h3>{{item.name}}</h3>
          <p>{{item.description}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="d-flex justify-content-center x">
  <div class="container mt-5  ">
    <div class="product-list-wrapper">
      <h1>Trendy Products</h1>
      <div class="row  mt-3">
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
          <div class="product-item d-grid " >
            <a href="/details/{{item.id}}">
              <img src="{{item.image}}" alt="">
            <div class="product-details">
              <h6 class="name-head">{{item.name}}</h6>
              <div class="product-price">
                <h6 >Price : {{item.price |  currency:'INR' }}</h6>
              </div>
              <div class="product-color">
                <h6>Color : {{item.color}}</h6>
              </div>
            </div>
            </a>
            <div class="product-footer">
              <a routerLink="/details/{{item.id}}">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>